<div class="sign">
    <h2 align="center">Sign Up For Our Newsletters</h2>
        <div fxLayout="row wrap" fxLayoutAlign="center center">
            <div>
                <div fxflex="20" style="margin-top:20px">
                    <p>BE THE FIRST TO KNOW ABOUT EVERYTHING WE DO.</p>
                </div>
                <div>
                    <input type="text" class="Rectangle-3" name="Email" placeholder="Your Email Address"><button
                        class="Rectangle">Sign Me Up</button>
                </div>
            </div>
        </div>
</div>
